<div class="banner">
  <div class="container">
    <div class="banner-text">
      <h1>MIXER</h1>
      <%= link_to 'CREATE A NEW COCKTAIL', new_cocktail_path, class: 'btn-landing'%>
    </div>
  </div>
</div>
