<div class="banner">
  <div class="container">
    <div class="banner-text">
      <h1>MIXER</h1>
      <%= link_to 'CREATE A NEW COCKTAIL', new_cocktail_path, class: 'btn-landing'%>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="cards mb-5">
    <% @cocktails.each do |c| %>
      <%= link_to cocktail_path(c), class: 'cocktail' do %>
      <% end %>
    <% end %>
  </div>
</div>
